.basemap-selector-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001; /* Encima del mapa */
}

.basemap-selector-window {
  background: white;
  border-radius: 4px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.basemap-selector-header {
  background-color: #195c97;
  color: white;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.basemap-selector-close-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.basemap-selector-grid {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.basemap-item {
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden; /* Para que la imagen respete el borde redondeado */
}

.basemap-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.basemap-item img {
  width: 100%;
  height: 90px;
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
  display: block;
}

.basemap-item span {
  display: block;
  padding: 8px 5px;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #333; /* Color de texto oscuro para mejorar contraste */
}
